- name: Deploy Scheduling App
  hosts: app_servers
  become: true

  tasks:
    - name: Pull latest code from GitHub
      git:
        repo: 'https://github.com/24012285-KyalSinHtoo/scheduling-app-C270-Team2.git'

        dest: /var/www/scheduling-app
        version: main

    - name: Install dependencies
      npm:
        path: /var/www/scheduling-app
        production: true

    - name: Restart app service
      systemd:
        name: scheduling-app
        state: restarted
